body {
  font-family: CustomFont !important;
  color: #fff;
  -webkit-font-smoothing: antialiased;

  .next-shell-header {
    /* origin: 52px */
    height: 88px !important;
    padding: 0 30px !important;
    background: #000000 !important;
  }

  /* 页面主体 */
  /* .next-shell-main {
    background: #141414 !important;
  } */

  .next-tag {
    border-color: #666 !important;
    cursor: pointer !important;
    &:hover {
      border-color: #ddd !important;
    }
  }
  .next-tag-body {
    cursor: pointer !important;
  }

  .next-loading {
    position: unset;
  }

  .next-pagination-item {
    border-color: #666 !important;
    background: #222 !important;
    color: #fff !important;
    &:hover {
      border-color: #fff !important;
    }
    &.next-current {
      border-color: #209bfa !important;
      background: #209bfa !important;
    }
    &.next-prev,
    &.next-next {
      border-color: #666 !important;
      background: #222 !important;
      color: #fff !important;
      &:disabled {
        color: #666 !important;
        &:hover {
          /*  */
        }
      }
      &:not([disabled]) {
        & > i {
          color: #fff !important;
        }
        &:hover {
          border-color: #fff !important;
        }
      }
    }
  }
}
